@media (min-width: 1024px) {
  .main-page {
    display: flex;
    flex-direction: column;
    height: 95vh;
    color: #004638;
  }

  .main-poolbox {
    border-color: #460013;
    border-width: 2px;
    height: 400px;
    width: 800px;
  }
}